<html>
<head xmlns:th="http://www.thymeleaf.org">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Content-Language" content="en-us">
	<title>Example Web Editor</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/xtext-ace.css}"/>
	<link th:rel="stylesheet" th:href=@{/css/style.css}/>
	
	<script th:src="@{/webjars/requirejs/2.3.6/require.min.js}"></script> 

		<script type="text/javascript">
		//var baseUrl = window.location.pathname;
		var baseUrl = "http://localhost:8891/"
		console.log(baseUrl);
		var fileIndex = baseUrl.indexOf("dsl.html");
		if (fileIndex > 0)
			baseUrl = baseUrl.slice(0, fileIndex);
		require.config({
			baseUrl: baseUrl,
			paths: {
				"jquery": "/lev4rec/webjars/jquery/3.4.1/jquery.min",
				"ace/ext/language_tools": "/lev4rec/webjars/ace/1.3.3/src/ext-language_tools",
				"xtext/xtext-ace": "/lev4rec/js/xtext-ace"				
			}
		});
		require(["/lev4rec/webjars/ace/1.3.3/src/ace.js"], function() {
			require(["xtext/xtext-ace"], function(xtext) {
				xtext.createEditor({
					baseUrl: baseUrl,
					syntaxDefinition: "/lev4rec/js/mode-rec.js"
				});
			});
		});
	</script> 
	
	
</head>
<body>

<div class="container">
	<div class="header">
		<h1>Example RsDsl Web Editor</h1>
	</div>
	<div class="content">
		<div id="xtext-editor" data-editor-xtext-lang="rec">  </div>
	</div>
	
 	
	
</div>





</body>
<script type="text/javascript"  th:inline="javascript">


//default model
var resultString = "RSModel CrossRec { dataset "

var isItemBased = [[${config.ItemBased}]];
var isUserBased = [[${config.UserBased}]];
var isCollaborativeFiltering = [[${config.CollaborativeFiltering}]];

var isUnsupervisedDataset = [[${config.UnsupervisedDataset}]];
var isSupervisedDataset = [[${config.SupervisedDataset}]];
 console.log(isUnsupervisedDataset);
 console.log(isSupervisedDataset);

//inserting dataset settings
if(isUnsupervisedDataset){	
	resultString = resultString + 'UnsupervisedDataset data { path "path/path" }'
}
if(isSupervisedDataset){
	resultString = resultString + 'SupervisedDataset data { path "path/path" }'
}

//inserting recommeder systems settings
resultString = resultString +'\n' + ' recommendationSystem '



if(isCollaborativeFiltering){
	
	resultString = resultString + 'FilteringRS AlgoName { filteringRSAlgorithm '
}
if(isItemBased){
	resultString = resultString + 'ITEM_BASED }}'
}

if(isUserBased){
	resultString = resultString + 'USER_BASED }}'
}

 console.log(resultString)


document.getElementById("xtext-editor").innerHTML = resultString;</script>
</html>
