<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>




<body>




<form id="checkForm" th:action="@{/}" method="post" th:object="${config}" >    

<div>        
        <input id="algorithm_feature_parent_1" type="checkbox" th:field="*{CollaborativeFiltering}" onclick="set_constraints('algorithm_feature_parent_1')"> <label>Collaborative filtering </label>
  
        <ul>        
        <li> <input id="coll_sub_feature" type="checkbox" th:field="*{ItemBased}" > Item based</li>		
        <li> <input id="coll_sub_feature2"  type="checkbox" th:field="*{UserBased}"  > User Based  </li> 
        </ul>

</div>

<div>        
        <input id="algorithm_feature_parent_2" type="checkbox" th:field="*{ContentBased}"> <label>Content based </label>
</div><div>        
        <input id="algorithm_feature_parent_3" type="checkbox" th:field="*{Classification}"> <label>Classification </label>
        
        
        <ul>        
        <li> <input id="class_sub_feature" type="checkbox" th:field="*{SupervisedAlgorithm}" > Supervised algorithm</li>	
        
        <ul>        
        <li> <input id="supervised_sub_feature" type="checkbox" th:field="*{SVM}"> SVM</li>		
        <li> <input id="supervised_sub_feature2"  type="checkbox" th:field="*{MNB}" > MNB  </li> 
        </ul>	
        <li> <input id="class_sub_feature2"  type="checkbox" th:field="*{UnsupervisedAlgorithm}"> Unsupervised algorithm</li> 
        </ul>
        
        
        </div>



<input type="submit" value="Submit">    
</form>  

</body>
<script>

function disable_sub_features(id, id_to_disable){
	const checkbox = document.getElementById(id, id_to_disable)
	checkbox.addEventListener('change', (event) => {
	  if (event.currentTarget.checked) {
	    document.getElementById(id_to_disable).disabled = true;
	  } else {		
	    document.getElementById(id_to_disable).disabled = false;
	  }
		})
	}
	
function disable_sub_feature_with_parent(current,parent_id, map_sub_feature){
	const checkbox = document.getElementById(current)
	
	list_sub=map_sub_feature[parent_id] 	
	checkbox.addEventListener('change', (event) => {
		  if (event.currentTarget.checked) {
			  for(var i = 0; i < list_sub.length; i++) { 
				  console.log(i)
				  document.getElementById(list_sub[i]).disabled = true;
			  }  
			  
		   
		  } else {		
			  for(var i = 0; i < list_sub.length; i++) { 				  
				  document.getElementById(list_sub[i]).disabled = false;
			  }  
		  }
		})
	}
	
	
function disable_parent(list_key,current,map_features){	
	const checkbox = document.getElementById(current)
	checkbox.addEventListener('change', (event) => {
	  if (event.currentTarget.checked) {
	    document.getElementById(list_key[1]).disabled = true;
	    document.getElementById(list_key[2]).disabled = true;
	    disable_sub_feature_with_parent(current,list_key[2], map_features)
	    document.getElementById(list_key[2]).disabled = true;
	  } else {			    
	    document.getElementById(list_key[1]).disabled = false;
	    document.getElementById(list_key[2]).disabled = false;
	  }
	})
	}


function get_list_checkboxes(){
	var inputs = document.getElementsByTagName("input");
	var checkboxes=[]
	for(var i = 0; i < inputs.length; i++) {
	    if(inputs[i].type == "checkbox") {	
	        checkboxes.push(inputs[i].id)
	    }  
	}
	return checkboxes
}
function set_constraints(id){
	
	
	
	checkboxes=get_list_checkboxes()
	var map_features = {}
	
	var key_parents = []
	
	var coll_features = []
	
	var class_features = []
	for(var i = 0; i < checkboxes.length; i++) {	    
	    if (checkboxes[i].includes("feature_parent")){
	    	key_parents.push(checkboxes[i])
	    }
	}
	
	for(var i = 0; i < checkboxes.length; i++) {	    
	    if (checkboxes[i].includes("coll")){
	    	coll_features.push(checkboxes[i])
	    }
	}
	
	for(var i = 0; i < checkboxes.length; i++) {	    
	    if (checkboxes[i].includes("class")){	    	
	    	class_features.push(checkboxes[i])
	    }
	}	
	
	map_features[key_parents[0]] = coll_features
	map_features[key_parents[2]] = class_features	
	
	disable_parent(key_parents, id, map_features)	
	
}

</script>
</html>